<div class="container p-3 m-auto">

  <!-- Friend Name and upcoming dates -->
  <div class="d-flex friend-title">
    <div class="align-self-center p-2">
      <% if @friend.photo.attached? %>
      <%= cl_image_tag @friend.photo.key, class: "avatar-xl", height: 80, width: 80, gravity: :face, radius: :max, crop: :fill %>
      <% else %>
      <div>
        <div class="avatar-initials-large">
         <h2 class="mb-0"><%= @friend.name.first %><%= @friend.name.split(' ')[1].first %><h2>
        </div>
      </div>
      <% end %>
    </div>
    <div class="p-2">
      <h4 class="d-flex m-0"><%= @friend.name %></h4>
      <% if @friend.events.count == 0 %>
        <p class="d-flex m-0">No Events Yet!</p>
        <p><%= link_to '+Create a new event', new_friend_event_path(@friend) %></p>
      <% else %>
        <ul class="p-1 m-0">
          <% @friend.events.each do |event| %>
            <li style="list-style-type: none;">
              <p class="d-flex text-muted m-0"><%= event.event_type %>: <%= event.date.strftime("#{event.date.day.ordinalize} %B") %></p>
            </li>
          <% end %>
        </ul>
        <p class="d-flex text-muted mb-1"><%= link_to '<i class="fas fa-plus"></i> Create New Event'.html_safe, new_friend_event_path(@friend) %></p>
      <% end %>
    </div>
  </div>

  <!-- Gift Idea Section -->
  <div>
    <h4 class="text-center m-0 mt-3 mb-1">Gift Ideas</h4>
    <div class="row">
      <% @gift_ideas.each do |idea| %>
        <% gift = Gift.find(idea.gift_id) %>
        <div class="p-2 w-50 flip-card">

          <!-- Front Card -->
          <div class="card flip-card-front">
            <% if gift.photo.nil? %>
              <%= image_tag "logo/grayscale.png", height: 120, :style => "object-fit: cover", class: "card-img-top" %>
            <% else %>
              <%= image_tag gift.photo, height: 120, :style => "object-fit: cover", class: "card-img-top" %>
            <% end %>
            <div class="card-body p-2">
              <p class="card-title mb-1">
                <%= link_to truncate(idea.gift.product_name, length: 18), idea.gift.gift_url, class: "d-flex" %>
              </p>
              <div class="p-0 d-flex">
                <p class="m-0"><%= idea.gift.price %></p>
                <div class="ml-auto">
                  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, gift_gift_idea_remove_path(idea.gift, idea),
                    method: :delete,
                    data: { confirm: "are you sure?" } %>
                </div>
                <a href="" class="arrow-btn"><i class="fas fa-info-circle"></i></a>
              </div>
            </div>
          </div>
          
          <!-- Back Card -->
          <div class="card flip-card-back flip-out hidden">
            <div class="flip-card-back-image p-2">
              <% if gift.meta_url.nil? %>
                <%= image_tag "logo/grayscale.png", height: 32, width: 32 %>
              <% else %>
                <%= image_tag gift.meta_url, height: 32, width: 32, alt: "Present Logo" %>
              <% end %>
            </div>
            <div class="flip-card-back-details">
              <p class="mb-0"><%= truncate(idea.gift.product_name, length: 18) %>
                from <%= gift.meta_host  %> </p>
              <p> Added: <%= idea.gift.created_at.strftime("#{idea.gift.created_at.day.ordinalize} %B") %> </p>
              <% if gift.meta_title.nil? %>
                <p> <%= truncate(idea.gift.product_name, length: 18) %> </p>
              <% else %>
                <p> <%= gift.meta_title  %> </p>
              <% end %>
              <% if gift.meta_desciption.nil? %>
                <p>No further information :(</p>
              <% else %>
                <p> <%= gift.meta_desciption  %> </p>
              <% end %>
            </div>
            <a href="" class="back-btn"><i class="fas fa-window-close"></i></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Note Section -->
  <div id="notes">
    <h4 class="text-center m-0 mt-3 mb-1">Notes</h4>
    <%= simple_form_for([ @friend, @note ], remote:true) do |f| %>
      <%= f.input :content, placeholder: "Add a note", label: false %>
      <%= f.submit class:'btn btn-gifted' %>
    <% end %>
    <div class="mt-2 row">
      <% @friend.notes.each do |note| %>
        <div class="p-2 w-50">
          <a href="">
            <div data-aos="flip-<%= ["left", "right", "up", "down"].sample %>" data-aos-duration="5000">
              <% color = ["rgba(228,138,168,0.7)", "rgba(236,92,42,0.7)", "rgba(253,244,215,0.7)", "rgba(228,138,168,0.5)", "rgba(236,92,42,0.5)", "rgba(253,244,215,0.5)", "rgba(228,138,168,0.2)", "rgba(236,92,42,0.2)", "rgba(253,244,215,0.2)"].sample %>
              <div class="card card-note" style="background-color:<%= color %>; transform: rotate(<%= [-2, 2, -4, 4].sample %>deg);">
                <div class="card-body p-2">
                  <p class="card-text" id="note-<%= note.id %>"><%= note.content %></p>
                  <div class="d-flex">
                    <p class="m-0 ml-auto" id="delete_note-<%= note.id %>">
                      <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, note_path(note),
                          method: :delete,
                          remote: true,
                          data: { confirm: "are you sure?" } %>
                    </p>
                    <p class="m-0 ml-1"><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_friend_note_path(@friend, note) %></p>
                  </div>
                </div>
            </div>
          </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Other Gift Idea Section -->
  <h4 class="text-center m-0 mt-3 mb-1">Other Gift Ideas</h4>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <% gift = @gifts.sample %>
      <% if gift.photo.nil? %>
        <%= image_tag "logo/grayscale.png", height: 180, :style => "object-fit: cover" %>
      <% else %>
        <%= image_tag gift.photo, height: 180, :style => "object-fit: cover" %>
      <% end %>
      <p class="m-0 d-flex flex-column">
        <%= gift.product_name %>, <%= gift.price %>
        <div>
          <% if GiftIdea.where(friend_id: @friend.id, gift_id: gift.id).present? %>
            <%= "You've already added this! ðŸŽ‰" %>
          <% else %>
            <%= link_to "+ Add it as a gift idea ðŸŽ", new_gift_gift_idea_path(gift) %>
          <% end %>
        </div>
      </p>
    </div>
    <div class="carousel-item">
    <% gift = @gifts.sample %>
      <% if gift.photo.nil? %>
        <%= image_tag "logo/grayscale.png", height: 180, :style => "object-fit: cover" %>
      <% else %>
        <%= image_tag gift.photo, height: 180, :style => "object-fit: cover" %>
      <% end %>
      <p class="m-0 d-flex flex-column">
        <%= gift.product_name %>, <%= gift.price %>
        <div>
          <% if GiftIdea.where(friend_id: @friend.id, gift_id: gift.id).present? %>
            <%= "You've already added this! ðŸŽ‰" %>
          <% else %>
            <%= link_to "+ Add it as a gift idea ðŸŽ", new_gift_gift_idea_path(gift) %>
          <% end %>
        </div>
      </p>
    </div>
    <div class="carousel-item">
    <% gift = @gifts.sample %>
      <% if gift.photo.nil? %>
        <%= image_tag "logo/grayscale.png", height: 180, :style => "object-fit: cover" %>
      <% else %>
        <%= image_tag gift.photo, height: 180, :style => "object-fit: cover" %>
      <% end %>
      <p class="m-0 d-flex flex-column">
        <%= gift.product_name %>, <%= gift.price %>
        <div>
          <% if GiftIdea.where(friend_id: @friend.id, gift_id: gift.id).present? %>
            <%= "You've already added this! ðŸŽ‰" %>
          <% else %>
            <%= link_to "+ Add it as a gift idea ðŸŽ", new_gift_gift_idea_path(gift) %>
          <% end %>
        </div>
      </p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: rgb(35,62,130);"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: rgb(35,62,130);"></span>
    <span class="sr-only">Next</span>
  </a>

  <p><%= link_to 'Add a new gift', new_gift_path %></p>
  <p><%= link_to 'See more gifts', gifts_path %></p>

</div>
