<h1>Gifts for <%= @friend.name %>
  <% if @friend.photo.attached? %>
  <%= cl_image_tag @friend.photo.key, height: 40, width: 40, gravity: :face, radius: :max, crop: :fill %></h1>
  <% end %>
<br>
<h3>Gift Ideas</h3>
<% @gift_ideas.each do |idea| %>
  <%#= Gift.find(idea.gift_id).gift_url %>
  <%= idea.gift.gift_url %>
  <% if idea.gift.photo.attached? %>
  <%= cl_image_tag idea.gift.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>


<h3>Events</h3>
<ul>
  <% @friend.events.each do |event| %>
  <li>
    <p><%= event.event_type %>, <%= event.date %></p>
  </li>
  <% end %>
  <%= link_to "All events", friend_events_path(@friend) %> |
  <%= link_to '+Create a new event', new_friend_event_path(@friend)  %>
</ul>

<h3>Notes</h3>
<ul>
  <% @friend.notes.each do |note| %>
  <li>
    <p>
    <%= note.content %>
    <%= link_to 'delete', note_path(note), method: :delete %>
    </p>
  </li>
  <% end %>
</ul>

<h3>Add a note</h3>
<%= simple_form_for [ @friend, @note ] do |f| %>
  <%= f.input :content %>
  <%= f.submit class:'btn btn-primary' %>
<% end %>
