<h1>Gifts for <%= @friend.name %></h1>

<h3>Events</h3>
<ul>
  <% @friend.events.each do |event| %>
  <li>
    <p><%= event.event_type %>, <%= event.date %></p>
  </li>
  <% end %>
  <%= link_to "All Events", friend_events_path(@friend) %>
</ul>

<h3>Notes</h3>
<ul>
  <% @friend.notes.each do |note| %>
  <li>
    <p><%= note.content %></p>
  </li>
  <% end %>
</ul>

<h3>Add a note</h3>
<%= simple_form_for [ @friend, @note ] do |f| %>
  <%= f.input :content %>
  <%= f.submit class:'btn btn-primary' %>
<% end %>