<div class="container p-3 m-auto">

  <!-- Friend Name and upcoming dates -->
  <div class="d-flex friend-title">
    <div class="align-self-center pl-2">
      <% if @friend.photo.attached? %>
      <%= cl_image_tag @friend.photo.key, class: "avatar-xl", height: 80, width: 80, gravity: :face, radius: :max, crop: :fill %>
      <% else %>
      <div class="circle">
        <%= image_tag "avatar/circle-512.png", class: "avatar-xl", height: 80, width: 80, gravity: :face, radius: :max, crop: :fill %>
        <p id="circle-letters"><%= @friend.name.first %><%= @friend.name.split(' ')[1].first %></p>
      </div>
      <% end %>
    </div>
    <div class="mt-1 pl-3">
      <h4 class="d-flex m-0"><%= @friend.name %></h4>
      <% if @friend.events.count == 0 %>
        <p class="d-flex m-0">No Events Yet!</p>
        <p><%= link_to '+Create a new event', new_friend_event_path(@friend) %></p>
      <% else %>
        <ul class="p-1 m-0">
          <% @friend.events.each do |event| %>
            <li style="list-style-type: none;">
              <small class="d-flex text-muted m-0"><%= event.event_type %>: <%= event.date.strftime("#{event.date.day.ordinalize} %B") %></small>
            </li>
          <% end %>
        </ul>
        <small class="d-flex text-muted mb-1"><%= link_to '+Create a new event', new_friend_event_path(@friend) %></small>
      <% end %>
    </div>
  </div>

  <!-- Gift Idea Section -->
  <div>
    <h4 class="text-center m-0 mt-3 mb-1">Gift Ideas</h4>
    <div class="row">
      <% @gift_ideas.each do |idea| %>
        <% gift = Gift.find(idea.gift_id) %>
        <div class="p-2 w-50">
          <div class="card">
            <% if gift.photo.nil? %>
              <%= image_tag "logo/grayscale.png", height: 180, crop: :cover, class: "card-img-top" %>
            <% else %>
              <%= image_tag gift.photo, height: 180, crop: :cover, class: "card-img-top" %>
            <% end %>
            <div class="card-body p-2">
              <h6 class="card-title">
                <%= link_to truncate(idea.gift.product_name, length: 18), idea.gift.gift_url %>
              </h6>
              <div class="p-0 d-flex">
                <p class="m-0"><%= idea.gift.price %></p>
                <div class="ml-auto">
                  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, gift_gift_idea_remove_path(idea.gift, idea),
                    method: :delete,
                    data: { confirm: "are you sure?" } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Note Section -->
  <div id="notes">
    <h4 class="text-center m-0 mt-3 mb-1">Notes</h4>
    <%= simple_form_for([ @friend, @note ], remote:true) do |f| %>
      <%= f.input :content, placeholder: "Add a note", label: false %>
      <%= f.submit class:'btn btn-gifted' %>
    <% end %>
    <div class="mt-2 row">
      <% @friend.notes.each do |note| %>
        <div class="p-2 w-50">
          <div class="card card-note">
            <div class="card-body p-2">
              <p class="card-text" id="note-<%= note.id %>"><%= note.content %></p>
              <div class="d-flex">
                <p class="m-0 ml-auto" id="delete_note-<%= note.id %>">
                  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, note_path(note),
                      method: :delete,
                      remote: true,
                      data: { confirm: "are you sure?" } %>
                </p>
                <p class="m-0 ml-1"><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_friend_note_path(@friend, note) %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Other Gift Idea Section -->
  <h4 class="text-center m-0 mt-3 mb-1">Other Gift Ideas</h4>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <% gift = @gifts.sample %>
      <% if gift.photo.nil? %>
        <%= image_tag "logo/grayscale.png", width: 280, crop: :fill %>
      <% else %>
        <%= image_tag gift.photo, width: 280, crop: :fill %>
      <% end %>
      <p class="m-0 d-flex flex-column">
        <%= gift.product_name %>, <%= gift.price %>
        <div>
          <% if GiftIdea.where(friend_id: @friend.id, gift_id: gift.id).present? %>
            <%= "You've already added this! ðŸŽ‰" %>
          <% else %>
            <%= link_to "+ Add it as a gift idea ðŸŽ", new_gift_gift_idea_path(gift) %>
          <% end %>
        </div>
      </p>
    </div>
    <div class="carousel-item">
    <% gift = @gifts.sample %>
      <% if gift.photo.nil? %>
        <%= image_tag "logo/grayscale.png", width: 280, crop: :fill %>
      <% else %>
        <%= image_tag gift.photo, width: 280, crop: :fill %>
      <% end %>
      <p class="m-0 d-flex flex-column">
        <%= gift.product_name %>, <%= gift.price %>
        <div>
          <% if GiftIdea.where(friend_id: @friend.id, gift_id: gift.id).present? %>
            <%= "You've already added this! ðŸŽ‰" %>
          <% else %>
            <%= link_to "+ Add it as a gift idea ðŸŽ", new_gift_gift_idea_path(gift) %>
          <% end %>
        </div>
      </p>
    </div>
    <div class="carousel-item">
    <% gift = @gifts.sample %>
      <% if gift.photo.nil? %>
        <%= image_tag "logo/grayscale.png", width: 280, crop: :fill %>
      <% else %>
        <%= image_tag gift.photo, width: 280, crop: :fill %>
      <% end %>
      <p class="m-0 d-flex flex-column">
        <%= gift.product_name %>, <%= gift.price %>
        <div>
          <% if GiftIdea.where(friend_id: @friend.id, gift_id: gift.id).present? %>
            <%= "You've already added this! ðŸŽ‰" %>
          <% else %>
            <%= link_to "+ Add it as a gift idea ðŸŽ", new_gift_gift_idea_path(gift) %>
          <% end %>
        </div>
      </p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  <p><%= link_to 'Add a new gift', new_gift_path %></p>
  <p><%= link_to 'See more gifts', gifts_path %></p>
</div>
