<div class="container p-3 m-auto">

  <!-- Friend Name and upcoming dates -->
  <div class="d-flex friend-title">
    <div class="align-self-center pl-2">
      <% if @friend.photo.attached? %>
      <%= cl_image_tag @friend.photo.key, height: 40, width: 40, gravity: :face, radius: :max, crop: :fill %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar", height: 40, width: 40 %>
      <% end %>
    </div>
    <div class="mt-1 pl-3">
      <h4 class="m-0"><%= @friend.name %></h4>
      <% if @friend.events.count == 0 %>
        <p class="m-0">No Events Yet!</p>
      <% else %>
        <ul class="p-1 m-0">
          <% @friend.events.each do |event| %>
            <li style="list-style-type: none;">
              <small class="text-muted m-0"><%= event.event_type %>: <%= event.date %></small>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <!-- Gift Idea Section -->
  <div>
    <h4 class="text-center m-0 mt-3 mb-1">
      Gift Ideas
    </h4>
    <div>

    <div class="row">
      <% @gift_ideas.each do |idea| %>
        <div class="p-2 w-50">
          <div class="card">
            <% if idea.gift.photo.attached? %>
              <%= cl_image_tag idea.gift.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
            <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1512909006721-3d6018887383?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" %>
            <% end %>
            <div class="card-body">
                <%= idea.gift.product_name %>  
                <%= link_to 'delete', gift_gift_idea_remove_path(idea.gift, idea),
                  method: :delete, 
                  data: { confirm: "are you sure?" } %>  
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <p>
      <%= link_to 'See more gifts', gifts_path %>
    </p>
  </div>



  <h3>Events</h3>
  <ul>
    <% @friend.events.each do |event| %>
    <li>
      <p><%= event.event_type %>, <%= event.date %></p>
    </li>
    <% end %>
    <%= link_to "All events", friend_events_path(@friend) %> |
    <%= link_to '+Create a new event', new_friend_event_path(@friend)  %>
  </ul>

  <h3>Notes</h3>
  <ul>
    <% @friend.notes.each do |note| %>
    <li>
      <p>

        <%= note.content %> 
        <%= link_to 'delete', note_path(note), 
            method: :delete, 
            data: { confirm: "are you sure?" } %> |
        <%= link_to 'edit', edit_friend_note_path(@friend, note)  %>
      </p> 

    </li>
    <% end %>
  </ul>

  <div>
    <%= simple_form_for [ @friend, @note ] do |f| %>
      <%= f.input :content %>
      <%= f.submit class:'btn btn-primary w-100' %>
    <% end %>
  </div><h3>Add a note</h3>
</div>
