<div class="container p-3 m-auto">

  <!-- Friend Name and upcoming dates -->
  <div class="d-flex friend-title">
    <div class="align-self-center pl-2">
      <% if @friend.photo.attached? %>
      <%= cl_image_tag @friend.photo.key, height: 40, width: 40, gravity: :face, radius: :max, crop: :fill %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar", height: 40, width: 40 %>
      <% end %>
    </div>
    <div class="mt-1 pl-3">
      <h4 class="m-0"><%= @friend.name %></h4>
      <% if @friend.events.count == 0 %>
        <p class="m-0">No Events Yet!</p>
      <% else %>
        <ul class="p-1 m-0">
          <% @friend.events.each do |event| %>
            <li style="list-style-type: none;">
              <small class="text-muted m-0"><%= event.event_type %>: <%= event.date %></small>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <% @gift_ideas.each do |idea| %>
    <%#= Gift.find(idea.gift_id).gift_url %>
    <ul>
      <li>
        <%= idea.product_name.nil? ? idea.gift_url : idea.product_name %>
        <% if idea.photo.nil? %>
          <%= image_tag "logo/grayscale.png", height: 200, crop: :fill %>
        <% else %>
          <%= idea.photo %>
        <% end %>
        <%= link_to 'delete', gift_gift_idea_remove_path(idea.gift, idea),
          method: :delete,
          data: { confirm: "are you sure?" } %>
      </li>
    </ul>
  <% end %>
  <p>
    <%= link_to 'See more gifts', gifts_path %>
  </p>

  <!-- Gift Idea Section -->
  <div>
    <h4 class="text-center m-0 mt-3 mb-1">Gift Ideas</h4>
    <div class="row">
      <% @gift_ideas.each do |idea| %>
        <div class="p-2 w-50">
          <div class="card">
            <% if idea.gift.photo.attached? %>
              <%= cl_image_tag idea.gift.photo.key, height: 120, width: 40, crop: :fill, class: "card-img-top" %>
            <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1512909006721-3d6018887383?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80", height: 120, width: 40, crop: :fill, class: "card-img-top" %>
            <% end %>
            <div class="card-body p-2">
              <h5 class="card-title">
                <%= link_to idea.gift.product_name, idea.gift.gift_url %>
              </h5>
              <div class="p-0 d-flex">
                <p class="m-0">£<%= idea.gift.price %></p>
                <div class="ml-auto">
                  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, gift_gift_idea_remove_path(idea.gift, idea),
                    method: :delete, 
                    data: { confirm: "are you sure?" } %>  
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <p>
      <%= link_to 'See more gifts', gifts_path %>
    </p>
  </div>



  <h3>Events</h3>
  <ul>
    <% @friend.events.each do |event| %>
    <li>
      <p><%= event.event_type %>, <%= event.date %></p>
    </li>
    <% end %>
    <%= link_to "All events", friend_events_path(@friend) %> |
    <%= link_to '+Create a new event', new_friend_event_path(@friend)  %>
  </ul>

  <div id="notes">
    <h3>Notes</h3>
    <ul>
      <% @friend.notes.each do |note| %>
        <li>
          <p id="note-<%= note.id %>">
            <%= note.content %>
          </p> 

          <p id="delete_note-<%= note.id %>">
            <%= link_to 'delete', note_path(note), 
                method: :delete, 
                remote: true,
                data: { confirm: "are you sure?" } %> 
          </p>

          <p>
            <%= link_to 'edit', edit_friend_note_path(@friend, note) %>
          </p>

        </li>
      <% end %>
    </ul>
  </div>


  <h3>Add a note</h3>
  <%= simple_form_for([ @friend, @note ], remote:true) do |f| %>
    <%= f.input :content %>
    <%= f.submit class:'btn btn-primary' %>
  <% end %>
</div>
