<h1>Gifts for <%= @friend.name %>
  <% if @friend.photo.attached? %>
  <%= cl_image_tag @friend.photo.key, height: 40, width: 40, gravity: :face, radius: :max, crop: :fill %></h1>
  <% end %>
<br>
<h3>Gift Ideas</h3>


  <% @gift_ideas.each do |idea| %>
    <%#= Gift.find(idea.gift_id).gift_url %>
    <ul>
      <li>
        <%= gift.product_name.nil? ? gift.gift_url : gift.product_name %>
        <% if gift.photo.nil? %>
          <%= image_tag "logo/grayscale.png", height: 200, crop: :fill %>
        <% else %>
          <%= gift.photo %>
        <% end %>
        <%= link_to 'delete', gift_gift_idea_remove_path(idea.gift, idea),
          method: :delete,
          data: { confirm: "are you sure?" } %>
      </li>
    </ul>
  <% end %>
  <p>
    <%= link_to 'See more gifts', gifts_path %>
  </p>



<h3>Events</h3>
<ul>
  <% @friend.events.each do |event| %>
  <li>
    <p><%= event.event_type %>, <%= event.date %></p>
  </li>
  <% end %>
  <%= link_to "All events", friend_events_path(@friend) %> |
  <%= link_to '+Create a new event', new_friend_event_path(@friend)  %>
</ul>

<div id="notes">
<h3>Notes</h3>
<ul>
  <% @friend.notes.each do |note| %>
  <li>
    <p id="note-<%= note.id %>">
      <%= note.content %>
    </p> 

    <p id="delete_note-<%= note.id %>">
      <%= link_to 'delete', note_path(note), 
          method: :delete, 
          remote: true,
          data: { confirm: "are you sure?" } %> 
    </p>

    <p>
      <%= link_to 'edit', edit_friend_note_path(@friend, note) %>
    </p>

  </li>
  <% end %>
</ul>
</div>


<h3>Add a note</h3>
<%= simple_form_for([ @friend, @note ], remote:true) do |f| %>
  <%= f.input :content %>
  <%= f.submit class:'btn btn-primary' %>
<% end %>

