<h1><%= @friend.name %></h1>

<h3>Gifts</h3>



<h3>Notes</h3>
  <% @friend.notes.each do |note| %>
  <p><%= note.content %></p>
  <% end %>



<h3>Add note</h3>

<%= simple_form_for [ @friend, @note ] do |f| %>
  <%= f.input :content %>
  <%= f.submit class:'btn btn-primary' %>
<% end %>