<div class="container mx-auto">
  <div class="row justify-content-center">
    <div class="col-m-8 ">

      <div class="mb-5 mx-2">
      <h2 class="text-primary">Edit Event</h2>
      <small class="text-info" >Update your friend's important date</small>
      </div>

      <div class="mx-3">
      <%= simple_form_for [ @friend, @event ] do |f| %>
        <%= f.label :event_type %>
        <%= f.select :event_type, Event::TYPES %>
        <%= f.input :date, html5: true, label: false %>
        <%= f.submit "Update Event", class: "btn  btn-gifted" %>
      <% end %>
      </div>

    </div>
  </div>
</div>
