<div class="container p-1 m-auto">
    <h1>All Gifts</h1>

    <h4 class="mt-5 mb-3">Unassigned Gifts</h4>
    <%# Cards %>
    <div class="d-flex flex-wrap card-deck">
      
      <% @gifts.each do |gift| %>
        <% if gift.gift_ideas == [] %>
            <div class="col-6 px-2 py-1 mb-2">
            
              <%= render 'card_gift', gift_info: gift %>
              <%#= render partial 'card_gift', locals: {gift_info: gift} %>

            </div>
        <% end %>
      <% end %>
      </div>

      <%= link_to 'Add more gifts', new_gift_path, class: 'btn btn-gifted' %>




    <hr>

    <h4 class="my-3" >Gift Ideas</h4>
    </div>
    <div class="cards d-flex flex-wrap card-deck">

      
      <% @gifts.each do |gift| %>
        <% if gift.gift_ideas != [] %>
        <div class="col-6 px-1 mb-2">
          <div class="card h-100">
            <%# Card-img %>
            <% if gift.photo.nil? %>
              <%= image_tag "logo/grayscale.png", height: 120, crop: :fill %>
            <% else %>
              <%= image_tag gift.photo, height: 120, crop: :fill %>
            <% end %>
            <%# Card-body %>
            <div class="card-body p-0">
              <h6 class="card-title text-truncate text-primary p-2 mb-0"><%= gift.product_name.nil? ? gift.gift_url : gift.product_name %></h6>
            <% end %>
              <% gift.gift_ideas.each do |idea| %>
              
                <%= link_to friend_path(idea.friend_id) do %>
                  <% if Friend.find(idea.friend_id).photo.attached? %>
                  <%= cl_image_tag Friend.find(idea.friend_id).photo.key, height: 40, width: 40, gravity: :face, radius: :max, crop: :fill %>
                  <% else %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar", height: 40, width: 40 %>
                  <% end %>
                  <%#= link_to Friend.find(idea.friend_id).name, friend_path(idea.friend_id) %>
                  <%#=link_to '<i class="far fa-trash-alt"></i>'.html_safe, gift_gift_idea_path(id: idea.id, gift_id: gift.id), method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>
              <% end %>

            </div>
          </div>
          </div>
        <% end %>
</div>

